.UIState-module
    position: absolute
    left: 0
    top: 0

    color: #fff
    font-family: 'Arial'
    height: 100%
    pointer-events: none !important
    user-select: none 
    width: 100%
    
    & *
        pointer-events: all !important

    & button
        background: #00999e
        border: none
        box-shadow: #00c2c9 -4px 0px
        color: #fff
        cursor: pointer
        display: block
        font-family: 'Arial'
        font-size: 16px
        height: 32px

        &:hover
            background: #00c2c9
            border: none
            box-shadow: #00f0f8 -4px 0px